################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/ASP.Net6/MiddlewareDemo/bin/Debug/net6.0
/ASP.Net6/MiddlewareDemo/obj
## /ASP.Net6/.vs/ASP.Net6/config/applicationhost.config
/ASP.Net6/.vs/
.vs/
obj/
bin/